.tabs {
  display: flex;
  list-style-type: none;
  border-bottom: 2px solid lightgray;
}
.tabs li {
  min-width: 100px;
  padding: 1rem;
}

.badge {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #586069;
  background-color: rgba(27, 31, 35, 0.08);
  border-radius: 20px;
}

li.active {
  border-bottom: 2px solid orange;
}
