* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f8fa;
}

.github-page-wrapper {
  padding: 2rem;
  max-width: 80%;
  margin: auto;
  display: flex;
}

.profile {
  width: 300px;
}

.repos {
  padding: 1rem;
  width: 100%;
}
